# Ignore environment variables
env3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database files
*.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore virtual environment
venv/

