{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Lead SOurce</title>
  </head>
  <body> 
    <div class="relative mt-4 ml-6">
        <button onclick="window.history.back()" class="btn btn-outline-secondary">
            ← Go Back
        </button>
    </div>
    <div class="container mt-5">
        <h2 class="text-center">Create Lead Source</h2>
        <form method="post" class="space-y-2">
            {% csrf_token %}
            
            <div>
                <label class="block text-gray-400">Source</label>
                {{ form.source }}
            </div>

            <div>
                <label class="block text-gray-400">Description</label>
                {{ form.description }}
            </div>

            <button type="submit" class="bg-dark text-white px-4 py-2 rounded-lg w-full hover:bg-blue-600 transition">
                Create Source
            </button>
        </form>
    </div>
</div>
</body>
</html>

