{% include 'admin_base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Lead SOurce</title>
  </head>
  <body> 

    <div class="container mt-5">
        <h2 class="text-center">Create Lead Source</h2>
        <form method="post" class="space-y-2">
            {% csrf_token %}
            
            <div>
                <label class="block text-gray-400">Source</label>
                {{ form.source }}
            </div>

            <div>
                <label class="block text-gray-400">Description</label>
                {{ form.description }}
            </div>

            <button type="submit" class="bg-blue-500 text-black px-4 py-2 rounded-lg w-full hover:bg-blue-600 transition">
                Create Source
            </button>
        </form>

        <a href="{% url 'lead_source' %}" class="block text-center text-blue-500 mt-4 hover:underline">
            View All Sources
        </a>
    </div>
</div>
</body>
</html>

